{% extends 'base.html' %}


{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<title>Team Registration</title>
{% endblock meta %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-underline justify-content-between w-100">
        <li class="nav-item">
          <a class="nav-link" href="/landing_page/manajer">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kelola_tim/">Team Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cru_peminjaman_stadium/">Stadium Booking</a>
        </li>
        <img src="https://pics.freeicons.io/uploads/icons/png/1124251691647164852-512.png" alt="Logo" width="30" height="33" class="d-inline-block align-text-top">
        <li class="nav-item">
          <a class="nav-link" href="#">Match Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/history_rapat/">Meeting Records</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome, User
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Logout 
              <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.75 1.77778L6.1155 2.40444L7.2765 3.55556H2.7V4.44444H7.2765L6.1155 5.59111L6.75 6.22222L9 4L6.75 1.77778ZM0.9 0.888889H4.5V0H0.9C0.405 0 0 0.4 0 0.888889V7.11111C0 7.6 0.405 8 0.9 8H4.5V7.11111H0.9V0.888889Z" fill="black"/>
              </svg>                           
            </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="position-relative">
  <div class="row align-items-center">
    <img src="https://img.freepik.com/free-vector/hand-drawn-football-fans-illustration_23-2149878065.jpg?w=996&t=st=1683390248~exp=1683390848~hmac=285d2220db27161bf0fb90a2d469a15842bb03ebe9d3094dc3b34bc5f6269936" 
    height="400" class="cover pt-2 pb-4" style="filter: blur(3px);">
    <div class="position-absolute bottom-0 start-50 translate-middle text-center">
      <h1 class="pb-3">REGISTER</h1>
    </div>
    <hr style="border-width: 1px;  
    width: 90%; 
    margin-left: auto;
    margin-right: auto;">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="pt-1 pb-3 d-flex justify-content-center align-items-center">
    </div>
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Form Registrasi</h5>
          <div class="my-2 d-flex justify-content-center align-items-center">
          </div>
          <form>
            <div class="form-group">
              <label for="firstName"><b>Username:</b></label>
              <input type="text" class="form-control" id="firstName" placeholder="Enter your username">
            </div>
            <div class="my-2 d-flex justify-content-center align-items-center">
            </div>
            <div class="form-group">
                <label for="firstName"><b>Password:</b></label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter your password">
              </div>
              <div class="form-group">
                <label for="firstName"><b>Nama Depan:</b></label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
              </div>
              <div class="my-2 d-flex justify-content-center align-items-center">
              </div>
              <div class="form-group">
                  <label for="firstName"><b>Nama Belakang:</b></label>
                  <input type="text" class="form-control" id="firstName" placeholder="Enter your las name">
                </div>
                <div class="form-group">
                    <label for="firstName"><b>Nomor HP:</b></label>
                    <input type="text" class="form-control" id="firstName" placeholder="Enter your phone number">
                  </div>
                  <div class="my-2 d-flex justify-content-center align-items-center">
                  </div>
                  <div class="form-group">
                      <label for="firstName"><b>Email:</b></label>
                      <input type="text" class="form-control" id="firstName" placeholder="Enter your Email">
                    </div>
                    <div class="form-group">
                        <label for="firstName"><b>Alamat:</b></label>
                        <input type="text" class="form-control" id="firstName" placeholder="Enter your Address">
                      </div>
                      <div class="my-2 d-flex justify-content-center align-items-center">
                      </div>
                      <div class="form-group">
                        <label for="status">Status:</label><br>
                        <input type="radio" id="mahasiswa" name="status" value="mahasiswa">
                        <label for="mahasiswa">Mahasiswa</label><br>
                        <input type="radio" id="dosen" name="status" value="dosen">
                        <label for="dosen">Dosen</label><br>
                        <input type="radio" id="tendik" name="status" value="tendik">
                        <label for="tendik">Tendik</label><br>
                        <input type="radio" id="alumni" name="status" value="alumni">
                        <label for="alumni">Alumni</label><br>
                        <input type="radio" id="umum" name="status" value="umum">
                        <label for="umum">Umum</label><br>                        
                      </div>
                      <div class="my-2 d-flex justify-content-center align-items-center">
                      </div>
                      <div class="form-group">
                        <label for="firstName"><b>Jabatan:</b></label>
                        <input type="text" class="form-control" id="firstName" placeholder="Enter your Position">
                      </div>
                      <div class="my-2 d-flex justify-content-center align-items-center">
                      </div>
          </form>
          <div class="my-2 d-flex justify-content-center align-items-center">
          </div>
          <div class="text-end">
            <input class="btn btn-success text-end" type="submit" value="Submit" data-bs-toggle="modal" data-bs-target="#popUp">
          </div>
          
          
          
          <div class="modal fade" id="popUp" tabindex="-1" aria-labelledby="popUpLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="window.location.href='/kelola_tim/list_tim/'"></button>
                </div>
                <div class="modal-body text-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                  <div class="my-1 d-flex justify-content-center align-items-center">
                  </div>
                  <p>Form Submitted</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-2 d-flex justify-content-center align-items-center"></div>
    </div>
  </div>
</div>

      
      
  
  
{% endblock content %}