{% extends 'base.html' %}

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<!-- copas ini juga -->
<style>
.cover {
  /* Image is scaled to fill the container. */
  /* Aspect ratio IS maintained */
  object-fit: cover;
}
</style>
<!-- sampe sini -->
<title>Welcome, user</title>
{% endblock meta %}

{% block content %}
<!-- kalau mau ambil navbar sm background ambil copas darisini  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-underline justify-content-between w-100">
        <li class="nav-item">
          <a class="nav-link" href="/landing_page/manajer">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kelola_tim/">Team Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cru_peminjaman_stadium/">Stadium Booking</a>
        </li>
        <img src="https://pics.freeicons.io/uploads/icons/png/1124251691647164852-512.png" alt="Logo" width="30" height="33" class="d-inline-block align-text-top">
        <li class="nav-item">
          <a class="nav-link" href="/list_pertandingan/">Match Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/history_rapat/">Meeting Records</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome, User
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/login_logout/">Logout 
              <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.75 1.77778L6.1155 2.40444L7.2765 3.55556H2.7V4.44444H7.2765L6.1155 5.59111L6.75 6.22222L9 4L6.75 1.77778ZM0.9 0.888889H4.5V0H0.9C0.405 0 0 0.4 0 0.888889V7.11111C0 7.6 0.405 8 0.9 8H4.5V7.11111H0.9V0.888889Z" fill="black"/>
              </svg>                           
            </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="position-relative">
  <div class="row align-items-center">
    <img src="https://img.freepik.com/free-vector/hand-drawn-football-fans-illustration_23-2149878065.jpg?w=996&t=st=1683390248~exp=1683390848~hmac=285d2220db27161bf0fb90a2d469a15842bb03ebe9d3094dc3b34bc5f6269936" 
    height="400" class="cover pt-2 pb-4" style="filter: blur(3px);">
    <div class="position-absolute bottom-0 start-50 translate-middle text-center">
      <h1 class="pb-3">Dashboard</h1>
    </div>
    <hr style="border-width: 1px;  
    width: 90%; 
    margin-left: auto;
    margin-right: auto;">
  </div>
</div>
<!-- copas sampe sini -->
 <div class="container-fluid">
    <div class="row align-items-center">
      <!-- <img src="https://img.freepik.com/free-vector/hand-drawn-football-fans-illustration_23-2149878065.jpg?w=996&t=st=1683390248~exp=1683390848~hmac=285d2220db27161bf0fb90a2d469a15842bb03ebe9d3094dc3b34bc5f6269936" 
      height="400" class="cover pt-2 pb-4" style="filter: blur(3px);">
      <hr style="border-width: 1px;  
      width: 90%; 
      margin-left: auto;
      margin-right: auto;"> -->
      <div class="my-2 d-flex justify-content-center align-items-center pt-1">
      </div>
      <div  class="col-md-12 d-flex justify-content-center align-items-center">
        <h3>Hannah Montana</h3>
      </div>   
      <div  class="col-md-12 d-flex justify-content-center align-items-center">
        <span class="badge rounded-pill text-bg-info">Manajer</span>
      </div>    
      <div class="col-md-12 d-flex justify-content-center align-items-center">
      </div>
      <div class="col-md-12 d-flex justify-content-center align-items-center">
        <p class="mx-2"><small class="text-muted">  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
        </svg> johdone@gmail.com </small></p>
        <p class="mx-2"><small class="text-muted"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
        </svg> 081234567890 </small></p>
        <p class="mx-2"><small class="text-muted"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
          <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
        </svg> Jalan Kiri Kanan No. 50, ID 17829</small></p>
        
      </div>
      <div  class="col-md-12 d-flex justify-content-center align-items-center pb-5">

      </div>   
    </div>
    <div class="row align-items-center" >
      <!-- <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-2 g-4"> -->
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h4>Team Name</h4>
              </div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">Team Details</h6>
                <h5 class="card-text"><b>Pemain: A, B, C </b></h5>
                  <p class="card-text"><span class="badge rounded-pill text-bg-warning"><b>Pelatih: A, B</b></span</p>
              </div>
            </div>
          </div>
          <!-- <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div> -->
        <!-- </div>
      </div> -->
      <!-- <div class="col-md-6">
       
      </div> -->
    </div>
  </div>
  
 
  
{% endblock content %}
